<Files indexAdmin.php>

AuthName "Page d'administration, merci de rentrer vos identifiants."
AuthType Basic
AuthUserFile "C:\wamp64\www\p3\admin\.htpasswd"
Require valid-user

</Files>

ErrorDocument 404 http://blog-ecrivain.alexandre-drabczuk.fr/index.php?action=erreur
ErrorDocument 500 http://blog-ecrivain.alexandre-drabczuk.fr/index.php?action=erreur